@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #252363;
    background-color: #fff;
}
/* utilities */


.textcolor1{
    color: #252363 !important;
}
.textcolor2{
    color: #1D2130 !important;
}

.bg-info{
    background-color: #1DB5BD !important;
}
.btn-primary{
    background-color: #242263 !important;
    color: white;
}
.text-primary{
    color: #242263 !important;
}









.bfore{
    position: relative;
    display: inline-block;
    /* padding-left: 20px; */
}

.bfore::before {
    content: "";
    height: 2px;
    width: 40px;
    background-color: #252363;
    position: absolute;
    top: 0;
    left: -50px;
    transform: translateY(-50%);
}

.vertical{
    position: relative;
    display: inline-block;
}
.vertical::before {
    content: "";
    height: 300px;
    width: 2px;
    background-color: #252363;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translateX(-50%);
}

/* .middile-vartical h4{
    position: relative;
    display: block;
    margin-left: 40px;
} */
/* .middile-vartical::before, .middile-vartical::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #252363;
    position: absolute;
    top: 0px;
    left: -15px;
    right: 0;
    bottom: 0;
    transform: translateX(-50%);
} */

.middile-vartical h4::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
   background-image: url('../img/icon/reshot-icon-right-arrow-button-YAB8GEM7SD-c5f61.svg');
    background-size: contain;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    /* position: absolute;
    top: 0px;
    left: -15px;
    right: 0;
    bottom: 0;
    transform: translateX(-50%); */
}
.middile-vartical p{
    font-size: 16px !important;
}
input{
    border-radius: 0 !important;
    outline: none !important;
}
textarea{
    border: 1px solid #252363;
    border-radius: 0 !important;
    outline: none !important;
}
input:focus{
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}
textarea:focus{
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}
.inputs{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #252363;


}
footer ul{
    padding: 0;
    margin: 0;
}
footer ul li{
    list-style: none;
}
.submitbtn{
    background-color: #252363; 
    color: #fff;
}
footer input{
    border-radius: 0 !important;
   outline: 1px solid #252363 !important;
   border: 1px solid #252363 !important;
   background-color: transparent !important;

}

.colspan2{
    padding-left: 0 !important;
    padding-right: 0 !important;
    column-span: 2;
}

.bg-contact{
    /* background-color: #000; */
    color: #fff !important;
    background-image: url('../img/DSC1634.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  
}
.bg-contact::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
    color: #fff !important;
}
.bg{
    position: relative;
}

.bg-contactInfo{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff !important;
 
}
.box{
    padding: 20px;
    height: 200px;
    width: 250px;

}

.box:hover{
    background-color: #000;
    color: #fff !important;
    transition: 0.5s;
}
.routed {
    text-transform: lowercase;
    word-wrap: break-word;
    width: 30px !important;
    line-height: 0.9;
}


@media screen  and (max-width: 576px){
    .vertical{
        position: relative;
        display: inline-block;
    }
    .vertical::before {
        content: "";
        height: 180px;
        width: 2px;
        background-color: #252363;
        position: absolute;
        top: 0px;
        left: 0;
        transform: translateX(-50%);
    }

    .bg-contact{
        /* background-color: #000; */
        color: #fff !important;
        background-image: url('../img/DSC1634.jpg');
        height: 1500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
      
    }
    .routed {
        text-transform: lowercase;
        word-wrap: break-word;
        width: 20px !important;
        line-height: 0.9;
    }
    footer img{
        height: 50px !important;
        margin-bottom: 15px;
    }
    
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .vertical{
        position: relative;
        display: inline-block;
    }
    .vertical::before {
        content: "";
        height: 100px;
        width: 2px;
        background-color: #252363;
        position: absolute;
        top: 0px;
        left: 0;
        transform: translateX(-50%);
    }
    .routed {
        text-transform: lowercase;
        word-wrap: break-word;
        width: 20px !important;
        line-height: 0.9;
    }
    footer img{
        height: 50px !important;
        margin-bottom: 15px;
    }
}
@media screen and (min-width: 768px) and  (max-width: 992px){
    .vertical{
        position: relative;
        display: inline-block;
    }
    .vertical::before {
        content: "";
        height: 180px;
        width: 2px;
        background-color: #252363;
        position: absolute;
        top: 0px;
        left: 0;
        transform: translateX(-50%);
    }
    footer img{
        height: 50px !important;
    }
    
}
@media screen  and (min-width: 992px) and (max-width: 1200px){
    .vertical{
        position: relative;
        display: inline-block;
    }
    .vertical::before {
        content: "";
        height: 180px;
        width: 2px;
        background-color: #252363;
        position: absolute;
        top: 0px;
        left: 0;
        transform: translateX(-50%);
    }
}
@media screen  and (min-width: 1200px) {
    .vertical{
        position: relative;
        display: inline-block;
    }
    .vertical::before {
        content: "";
        height: 180px;
        width: 2px;
        background-color: #252363;
        position: absolute;
        top: 0px;
        left: 0;
        transform: translateX(-50%);
    }

}
